html {
    height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background: #FFFFEE;
  background: linear-gradient(to bottom, rgba(248,215,180,1) 0%,rgba(255,255,240,1) 100%);
  background-repeat: no-repeat;
  color: #800000;
  padding-bottom: 200px ;
}

hr {
    border: none;
    border-top: 1px solid #D9BFB7;
    height: 0;
}

.clear-it {
    width: 100%;
    display: block;
    clear: both;
}

strong {
    color: #117743!important;
    text-decoration: none!important;
    font-weight: 700;
}

a {
    color: #00E!important;
    text-transform: capitalize;
    font-weight: normal;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.up {
    color: orangered;
}

.down {
    color: #6b6bea;
}