html {
    height: 100%;
}
body {
    min-height: 100%!important;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background: #FFFFEE;
  background: linear-gradient(to bottom, rgba(248,215,180,1) 0%,rgba(255,255,240,1) 100%);
  background-repeat: no-repeat;
  color: #800000;
}
#root {
    min-height: 100%!important;
    height: 100%;
    width: 100%;
}
hr {
    border: none;
    border-top: 1px solid #D9BFB7;
    height: 0;
}

.clear-it {
    width: 100%;
    display: block;
    clear: both;
}

strong {
    color: #117743!important;
    text-decoration: none!important;
    font-weight: 700;
}

a {
    color: #00E;
    text-transform: capitalize;
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}


/* ----- FORM STYLES ---------*/

form {
    width: 95%;
    margin: 0 auto;
}

select {
    font-size: 1em;
}
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.container * {
    box-sizing: border-box;
}

.flex-outer,
.flex-inner {
    list-style-type: none;
    padding: 0;
}

.flex-outer {
    max-width: 800px;
    margin: 0 auto;
}

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-inner {
    padding: 0 8px;
    justify-content: space-between;
}

.flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
    flex: 1 0 220px;
}

.flex-outer li p {
    margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
    padding: 15px;
    border: none;
    font-size: 1em;
}

.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.flex-inner li {
    width: 100px;
}

input[type="text"]:disabled {
    background-color: rgba(100, 100, 100, 0.0);
}

.disabled-label {
    color: #b9b9ad;
}